body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica";
  background: black;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  font-size: 30px;
}
.grid {
  width: 80%;
  border: 1px solid #2d2d2d;
  display: grid;
  justify-content:center;
  margin: 20px auto;
}

.box {
  color: #fff;
  background: #2d2d2d;
  display: inline-block;
}
.field {
  width: 50%;
  height: 20px;
  scrollbar-color: red;
}
.btn {
  background-color: palegreen;
  height: 30px;
  width: 50%;
  font-weight: 1000;
}
.result{
  color:green;
}
